<div class="container">
    <app-server 
        (serverCreated)="onServerAdded($event)"
        (bpCreated)="onBlueprintAdded($event)"></app-server>
    <div class="row">
        <div class="col-xs-12">
            <h3>The Basics</h3>
            <hr>
            <app-servers
                *ngFor="let serverElement of serverElements"
                [srvElement]="serverElement">
                <p>
                    <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
                    <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
                </p>
            </app-servers>
            <!-- <div app-servers></div> -->
            <!-- <div class="app-servers"></div> -->
        </div>
    </div>
</div>