<div class="container">
    <app-server 
        (serverCreated)="onServerAdded($event)"
        (bpCreated)="onBlueprintAdded($event)"></app-server>
    <div class="row">
        <div class="col-xs-12">
            <h3>The Basics</h3>
            <hr>
            <app-servers
                *ngFor="let serverElement of serverElements"
                [srvElement]="serverElement"></app-servers>
            <!-- <div app-servers></div> -->
            <!-- <div class="app-servers"></div> -->
        </div>
    </div>
</div>